
{% extends "oferta_inicio.html" %}

{% block sliderPagina %}BORRADOR DE OFERTA {% endblock %}
{% block contenido %}
    <div class="container">
    <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-6 col-xs-6" align="left" style="padding-left: 0px;">
            {% if msg != None %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{msg}}
            </div>
            {% endif %}
            <h4>{{ oferta.nombre }}</h4>
            <ul class="text-muted list-inline">
                <!--
                <li><i class="fa fa-user"></i> <a href="/perfilUsuario">{{ dueno }}</a></li>
                -->
                <li><i class="fa fa-calendar"></i> {{ fecha_creacion_oferta }}</li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-6" align="right" style="padding-top: 15px;padding-right: 0px;">
            <a href="/EditarBorrador/{{oferta.id_oferta}}" class="btn btn-green">
                <i class="fa fa-pencil"></i>
                Editar
            </a>
            <a href="#" class="btn btn-green" data-toggle="modal" data-target="#aceptarPublicar">
                <i class="fa fa-globe"></i>
                Publicar
            </a>
            <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#aceptarEliminar">
                <i class="fa fa-trash-o"></i>
                Eliminar
            </a>
            <p class="text-muted" style="font-size:11px"><br>*Esta oferta no se encuentra publicada en la red</p><p>
        </p></div>
    </div>
    <div id="aceptarPublicar" class="modal fade" role="dialog" ng-controller="AlcanceController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PUBLICAR BORRADOR DE OFERTA</h4>
                </div>
                <div class="modal-body">

                        <label for="alcance_instituciones" >Instituciones para Alcance</label>
                        <div >
                            <tags-input class="tags" name="alcance_tags" ng-model="alcance_tags" placeholder="Siglas de las Instituciones">
                                  <auto-complete source="loadInstituciones($query)"
                                         min-length="0"
                                         load-on-focus="true"
                                         load-on-empty="true"
                                         max-results-to-show="32"
                                         ></auto-complete>
                            </tags-input>
                        </div>
                        <div >
                            <p>Una vez publicado un borrador de una oferta, &eacute;ste no se podr&aacute; ser modificado.<br>¿Desea eliminarlo?</p> 
                        </div>                    
                </div>
                <div class="modal-footer">
                    <div align="right">
                        <a data-dismiss="modal"  class="btn btn-dark"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>
                        <a class="btn btn-green" href="/publicarBorrador/{{ oferta.id_oferta }}"><i class="fa fa-check-square"></i>&nbsp;&nbsp;Aceptar&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL ELIMINAR BORRADOR OFERTA-->
    <div id="aceptarEliminar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ELIMINAR BORRADOR DE OFERTA</h4>
                </div>
                <div class="modal-body">
                    <p>Una vez eliminado un borrador de una oferta, &eacute;ste no se podr&aacute; recuperar.<br>¿Desea eliminarlo?</p> 
                </div>
                <div class="modal-footer">
                    <div align="right">
                        <a data-dismiss="modal"  class="btn btn-dark"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>
                        <a class="btn btn-green" href="/eliminarBorrador/{{ oferta.id_oferta }}"><i class="fa fa-check-square"></i>&nbsp;&nbsp;Aceptar&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-10" style="padding-left: 0px;">
            <div class="blog-text">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation" class="active">
                        <a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Informaci&oacute;n General</a>
                    </li>
                    <li role="presentation">
                        <a href="#cliente_usuario" aria-controls="profile" role="tab" data-toggle="tab">Cliente/Usuario</a>
                    </li>
                    <li role="presentation">
                        <a href="#modelo" aria-controls="messages" role="tab" data-toggle="tab">Modelo de Negocio</a>
                    </li>
                    <li role="presentation">
                        <a href="#industria" aria-controls="settings" role="tab" data-toggle="tab">Industria/Competidores</a>
                    </li>
                    <li role="presentation">
                        <a href="#esta_logro" aria-controls="messages" role="tab" data-toggle="tab">Estado/Logros</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content row">
                    <div role="tabpanel" class="tab-pane active" id="informacion">
                        <div class="col-md-12">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="block-inverse">
                                    <div class="head-inverse">
                                        <p class="text-center"><strong class="text-muted">Galeria</strong></p>
                                        <img class=" img-responsive" src="../../media/{{ imagen_principal.imagen }}" alt="Imagen Principal">
                                    </div>
                                    <div class="body-inverse">
                                        <ul class="row list-inline gallery-list-small" style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;">
                                            {% for imagen in galeria %}
                                            <li class="col-xs-6">                                            
                                                <a href="#">
                                                    <img class="img-responsive" src="../../media/{{ imagen.imagen }}" alt="...">
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <!--Tipo-->
                                <p  style="color: darkgray" for="Nombres" class="col-md-3">Tipo</p>
                                <p class="bottom-15" align="justify" >
                                    {% if oferta.tipo == 0 %}
                                        Emprendimiento
                                    {% elif oferta.tipo == 1 %}
                                        Tecnolog&iacute;a
                                    {% elif oferta.tipo == 2 %}
                                        Prototipo
                                    {% endif %}
                                </p>
                                    <!--Descripcion-->
                                <p  style="color: darkgray" for="Nombres" class="col-md-3">Descripci&oacute;n</p>
                                <p class="bottom-15" align="justify" >{{ oferta.descripcion }} </p>
                                <!--Dominio-->
                                <p style="color: darkgray" for="Nombres" class="col-md-3">Dominio</p>
                                <p class="bottom-15" align="justify" >{{ oferta.dominio }}</p>
                                    <!--Subdominio-->
                                <p style="color: darkgray" for="Nombres" class="col-md-3">Sub-dominio</p>
                                <p class="bottom-15" align="justify" >{{ oferta.subdominio }}</p>
                                    <!--Palabras Clave-->
                                <p  style="color: darkgray" for="Nombres" class="col-md-3">Palabras Claves</p>
                                <p class="tags">
                                    {% for tag in palabras %}
                                    <a>{{ tag.palabra }}</a>    
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="cliente_usuario">
                        <div class="col-md-12">
                            <!--Perfil Cliente-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Cliente</p>
                            <p class="bottom-15" align="justify" class="col-md-9">
                            {% if oferta.perfil_cliente != None %}
                            {{ oferta.perfil_cliente }} 
                            {% else %}
                            No disponible
                            {% endif %}
                            </p>
                            <!--Perfil Beneficiario-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Beneficiario</p>
                            <p class="bottom-15" align="justify" class="col-md-9">
                            {% if oferta.perfil_beneficiario != None %}
                            {{ oferta.perfil_beneficiario }} 
                            {% else %}
                            No disponible
                            {% endif %} </p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="modelo">
                        <div class="col-md-12">
                            <!--Canvas del modelo de negocio-->
                            <h3 style="text-align:center" class="h4">  Canvas del Modelo de negocios</h3>
                            <hr>

                            <div class="col-md-12 table-responsive" style="font-size: 12px;">
                                <table class="table table-bordered" >
                                    <tr>
                                        <th>Socios clave</th>
                                        <th>Actividades clave</th>
                                        <th>Propuestas de valor</th>
                                        <th>Relaciones con los clientes</th>
                                        <th>Segementos de clientes</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify"  rowspan=3>
                                        {% if oferta.fk_diagrama_canvas.asociaciones_clave != None %}
                                            {{oferta.fk_diagrama_canvas.asociaciones_clave }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                        <td class="bottom-15" align="justify" >
                                        {% if oferta.fk_diagrama_canvas.actividades_clave != None %}
                                            {{oferta.fk_diagrama_canvas.actividades_clave }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                        <td class="bottom-15" align="justify" rowspan=3>
                                        {% if oferta.fk_diagrama_canvas.propuesta_valor != None %}
                                            {{oferta.fk_diagrama_canvas.propuesta_valor }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                        <td class="bottom-15" align="justify" >
                                        {% if oferta.fk_diagrama_canvas.relacion_clientes != None %}
                                            {{oferta.fk_diagrama_canvas.relacion_clientes }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                        <td class="bottom-15" align="justify" rowspan=3>
                                        {% if oferta.fk_diagrama_canvas.segmento_mercado != None %}
                                            {{oferta.fk_diagrama_canvas.segmento_mercado }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Recursos Claves</th>
                                        <th>Canales de Distribuci&oacute;n</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify" >
                                        {% if oferta.fk_diagrama_canvas.recursos_clave != None %}
                                            {{oferta.fk_diagrama_canvas.recursos_clave }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                        <td class="bottom-15" align="justify" >
                                        {% if oferta.fk_diagrama_canvas.canales_distribucion != None %}
                                            {{oferta.fk_diagrama_canvas.canales_distribucion }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan=3>Estructura de Costos</th>
                                        <th colspan=2>Fuentes de Ingresos</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify"  colspan=3>
                                        {% if oferta.fk_diagrama_canvas.estructura_costos != None %}
                                            {{oferta.fk_diagrama_canvas.estructura_costos }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                        <td class="bottom-15" align="justify"  colspan=2>
                                        {% if oferta.fk_diagrama_canvas.fuente_ingresos != None %}
                                            {{oferta.fk_diagrama_canvas.fuente_ingresos }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="industria">
                        <div class="col-md-12">
                            <!--Tendencias-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-4">Tendencias Relevantes</p>
                            <p align="justify" class="col-md-8">
                            {% if oferta.cuadro_tendencias_relevantes != None %}
                            {{ oferta.cuadro_tendencias_relevantes }} 
                            {% else %}
                            No disponible
                            {% endif %} 
                            </p>
                            <!--Alternativas de solucion-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-4">Alternativas de Soluci&oacute;n Existentes</p>
                            <br>
                            <p align="justify" class="col-md-8">
                            {% if oferta.descripcion_soluciones_existentes != None %}
                            {{ oferta.descripcion_soluciones_existentes }} 
                            {% else %}
                            No disponible
                            {% endif %} 
                            </p>

                            <!--Diagrama de Porter-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-4">Diagrama de Porter</p>

                            <div class="col-md-8 table-responsive" style="font-size: 12px;">
                                <table class="table table-bordered" >
                                    <tr>
                                        <th colspan=2 >Nuevos entrantes</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify"  colspan=2>
                                        {% if oferta.fk_diagrama_competidores.nuevosMiembros != None %}
                                            {{oferta.fk_diagrama_competidores.nuevosMiembros }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan=1>Compradores</th>
                                        <th colspan=1>Proveedores</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify" colspan=1>
                                        {% if oferta.fk_diagrama_competidores.consumidores != None %}
                                            {{oferta.fk_diagrama_competidores.consumidores }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                        <td class="bottom-15" align="justify" colspan=1>
                                        {% if oferta.fk_diagrama_competidores.proveedores != None %}
                                            {{oferta.fk_diagrama_competidores.proveedores }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan=2>Competidores</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify"  colspan=2>
                                        {% if oferta.fk_diagrama_competidores.competidores != None %}
                                            {{oferta.fk_diagrama_competidores.competidores }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan=2>Sustitutos</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify"  colspan=2>
                                        {% if oferta.fk_diagrama_competidores.sustitutos != None %}
                                            {{oferta.fk_diagrama_competidores.sustitutos }} 
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <!--
                            <div class="col-md-12 table-responsive" style="font-size: 12px;">
                                <table class="table table-bordered" >
                                    <tr>
                                        <th>Competidores</th>
                                        <th>Poder de consumidores</th>
                                        <th>Sustitutos</th>
                                        <th>Poder de proveedores</th>
                                        <th>Nuevos entrantes</th>
                                    </tr>
                                    <tr>
                                        <td class="bottom-15" align="justify" >{{ oferta.fk_diagrama_competidores.competidores }} </td>
                                        <td class="bottom-15" align="justify" >{{ oferta.fk_diagrama_competidores.consumidores }} </td>
                                        <td class="bottom-15" align="justify" >{{ oferta.fk_diagrama_competidores.sustitutos }} </td>
                                        <td class="bottom-15" align="justify" >{{ oferta.fk_diagrama_competidores.proveedores }} </td>
                                        <td class="bottom-15" align="justify" >{{ oferta.fk_diagrama_competidores.nuevosMiembros }}</td>
                                    </tr>
                                </table>
                            </div>

                            <br><br>
                            -->
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="esta_logro">
                        <div class="col-md-12">
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Tiempo aproximado de disponilidad del producto o servicio</p>
                            <p>
                            {% if oferta.tiempo_para_estar_disponible != None %}
                            {{ oferta.tiempo_para_estar_disponible }} 
                            {% else %}
                            No disponible
                            {% endif %}
                            </p>
                            <br>
                            <!--Estado de propiedad Intelectual-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Estado de propiedad Intelectual</p>
                            <br>
                            <p class="bottom-15" align="justify" class="col-md-12">
                            {% if oferta.estado_propieada_intelectual != None %}
                            {{ oferta.estado_propieada_intelectual }} 
                            {% else %}
                            No disponible
                            {% endif %}
                            </p>
                            <!--Evidencia de Traccion-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Evidencia de Tracci&oacute;n</p>
                            <br>
                            <p class="bottom-15" align="justify" class="col-md-12">
                            {% if oferta.evidencia_traccion != None %}
                            {{ oferta.evidencia_traccion }} 
                            {% else %}
                            No disponible
                            {% endif %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        </div>

    </div>
    </div>




    </div>

{% endblock %}      
