{% comment %}
        Autor: Fausto Mora 
        Nombre del Archivo: crear_demanda_form2.html
        Descripción: html del formulario cliente/usuario de crear demanda
{% endcomment %}

<div class="col-md-12">
    <!--Perfil Cliente-->
    <div class="form-group">
        <label for="demanda_descripcion_perfil" class="col-md-2">Perfil Cliente</label>
        <div class="col-md-10">
            <textarea autofocus id="demanda_descripcion_perfil" name="demanda_descripcion_perfil" rows="4"  class="form-control" placeholder="Escribe aqu&iacute; la descripci&oacute;n del perfil" ng-model="demanda.perfil_cliente"  ng-required="false" >
            </textarea>
        </div>
    </div>

    <!--Perfil Beneficiario-->
    <div class="form-group">
        <label for="demanda_beneficiario_perfil" class="col-md-2">Perfil del Beneficiario</label>
        <div class="col-md-10">
            <textarea autofocus id="demanda_beneficiario_perfil" name="demanda_beneficiario_perfil" rows="4"  class="form-control" placeholder="Escribe aqu&iacute; el perfil del beneficiario" ng-model="demanda.perfil_beneficiario"  ng-required="false">
            </textarea>
        </div>
    </div>

    <div class="col-md-12">
        <br>
        <a href="#industria" aria-controls="messages" role="tab" data-toggle="tab" style="color:white;margin-bot: 0px;margin-right: 3px;" class="btn btn-blue pull-right">&nbsp;&nbsp;Siguiente&nbsp;&nbsp;<i class="fa fa-caret-square-o-right"></i></a>

        <a href="#informacion" aria-controls="messages" role="tab" data-toggle="tab" style="color:white;margin-bot: 0px;margin-right: 3px;" class="btn btn-blue pull-right"><i class="fa fa-caret-square-o-left"></i>&nbsp;&nbsp;A t r &aacute; s&nbsp;&nbsp;</a> 
    </div>

</div>