{% comment %}
        Autor: Fausto Mora 
        Nombre del Archivo: crear_demanda_form3.html
        Descripción: html del formulario industria de crear demanda
{% endcomment %}

<div class="col-md-12">
    <!--Importancia de Resolve Necesidad-->
    <div class="form-group">
        <label for="Nombres" class="col-md-2">Importancia de Resolver la Necesidad</label>
        <div class="col-md-10">
            <textarea autofocus type="text" class="form-control" id="demanda_tendencias" name="demanda_tendencias" rows="4" placeholder="Describa la importancia de resolver la demanda"
            ng-model="demanda.importancia_resolver_necesidad" ng-required="false">
            </textarea>
        </div>
    </div>

    <!--Alternativas de solucion-->
    <div class="form-group">
        <label for="Nombres" class="col-md-2">Alternativas de Soluci&oacute;n Existentes</label>
        <div class="col-md-10">
            <textarea autofocus type="text" class="form-control" id="demandas_alternativas_soluciones" name="demandas_alternativas_soluciones" rows="4" placeholder="Describa otras alternativas existentes a su demanda"
            ng-model="demanda.alternativas_soluciones_existentes" ng-required="false">
            </textarea>
        </div>
    </div>

    <div class="col-md-12">
        <br>
        <a href="#esta_logro" aria-controls="messages" role="tab" data-toggle="tab" style="color:white;margin-bot: 0px;margin-right: 3px;" class="btn btn-blue pull-right">&nbsp;&nbsp;Siguiente&nbsp;&nbsp;<i class="fa fa-caret-square-o-right"></i></a>

        <a href="#cliente_usuario" aria-controls="messages" role="tab" data-toggle="tab" style="color:white;margin-bot: 0px;margin-right: 3px;" class="btn btn-blue pull-right"><i class="fa fa-caret-square-o-left"></i>&nbsp;&nbsp;A t r &aacute; s&nbsp;&nbsp;</a>
        </a>
    </div>
</div>